In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%matplotlib inline
df = pd.read_csv('/home/aryan/Downloads/Employee_Compensation_SF.csv')
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Fiscal,2016,1,Public Protection,DAT,District Attorney,311.0,Municipal Attorneys' Association,8100,Legal & Court,...,49919,114473.16,0.0,1500.00,115973.16,21025.98,13068.80,9368.71,43463.49,159436.65
1,Calendar,2013,5,Culture & Recreation,ART,Arts Commission,790.0,"SEIU - Miscellaneous, Local 1021",1800,"Budget, Admn & Stats Analysis",...,1225,84077.11,0.0,0.00,84077.11,16587.30,12457.73,6931.91,35976.94,120054.05
2,Calendar,2015,4,Community Health,DPH,Public Health,535.0,"SEIU - Human Services, Local 1021",2900,Human Services,...,34873,9980.17,0.0,798.43,10778.60,0.00,2254.93,835.11,3090.04,13868.64
3,Fiscal,2015,4,Community Health,DPH,Public Health,250.0,"SEIU - Health Workers, Local 1021",2200,Medical & Dental,...,51145,2873.41,0.0,0.00,2873.41,0.00,622.63,222.46,845.09,3718.50
4,Fiscal,2014,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",3200,Recreation,...,48705,6701.85,0.0,176.70,6878.55,0.00,2711.66,538.43,3250.09,10128.64

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291825 entries, 0 to 291824
Data columns (total 22 columns):
Year Type                  291825 non-null object
Year                       291825 non-null int64
Organization Group Code    291825 non-null int64
Organization Group         291825 non-null object
Department Code            291825 non-null object
Department                 291825 non-null object
Union Code                 291782 non-null float64
Union                      291782 non-null object
Job Family Code            291780 non-null object
Job Family                 291780 non-null object
Job Code                   291825 non-null object
Job                        291825 non-null object
Employee Identifier        291825 non-null int64
Salaries                   291825 non-null float64
Overtime                   291825 non-null float64
Other Salaries             291825 non-null float64
Total Salary               291825 non-null float64
Retirement                 291825 non-null float64
Health/Dental              291825 non-null float64
Other Benefits             291825 non-null float64
Total Benefits             291825 non-null float64
Total Compensation         291825 non-null float64
dtypes: float64(10), int64(3), object(9)
memory usage: 49.0+ MB

In [3]:
df = df.drop(['Organization Group','Department','Union','Job Family'],axis=1)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291825 entries, 0 to 291824
Data columns (total 18 columns):
Year Type                  291825 non-null object
Year                       291825 non-null int64
Organization Group Code    291825 non-null int64
Department Code            291825 non-null object
Union Code                 291782 non-null float64
Job Family Code            291780 non-null object
Job Code                   291825 non-null object
Job                        291825 non-null object
Employee Identifier        291825 non-null int64
Salaries                   291825 non-null float64
Overtime                   291825 non-null float64
Other Salaries             291825 non-null float64
Total Salary               291825 non-null float64
Retirement                 291825 non-null float64
Health/Dental              291825 non-null float64
Other Benefits             291825 non-null float64
Total Benefits             291825 non-null float64
Total Compensation         291825 non-null float64
dtypes: float64(10), int64(3), object(5)
memory usage: 40.1+ MB

In [5]:
from sklearn.preprocessing import LabelEncoder,scale

In [6]:
le = LabelEncoder()
df['Year Type'] = le.fit_transform(df['Year Type'])

In [7]:
df['Department Code'] = le.fit_transform(df['Department Code'])

Since Job Family Code is mix of both categorical and numerical data, we decided to got for a custom Label Encoding for this particular attribute

In [8]:
JFC = df['Job Family Code'].value_counts().index.tolist()
JFC_dict = {}
for i in range(len(JFC)):
    JFC_dict[JFC[i]] = i+100
df['Job Family Code'] = df['Job Family Code'].replace(JFC_dict)

In [9]:
df['Job Code'] = le.fit_transform(df['Job Code'])

In [10]:
df['Job'] = le.fit_transform(df['Job'])

In [11]:
df.columns

Index(['Year Type', 'Year', 'Organization Group Code', 'Department Code',
       'Union Code', 'Job Family Code', 'Job Code', 'Job',
       'Employee Identifier', 'Salaries', 'Overtime', 'Other Salaries',
       'Total Salary', 'Retirement', 'Health/Dental', 'Other Benefits',
       'Total Benefits', 'Total Compensation'],
      dtype='object')

In [12]:
df = df[['Year Type', 'Year', 'Organization Group Code', 'Department Code',
       'Union Code', 'Job Family Code', 'Job Code', 'Job',
       'Employee Identifier', 'Salaries', 'Overtime', 'Other Salaries', 'Retirement', 'Health/Dental', 'Other Benefits',
       'Total Benefits', 'Total Compensation',
       'Total Salary']]

In [13]:
df = df.dropna()

In [14]:
df = df.astype('float32')

In [15]:
S = scale(df)

In [16]:
x = S[:,:-1]
y = S[:,-1]

In [17]:
from sklearn.model_selection import train_test_split as t
train_x,test_x,train_y,test_y = t(x,y,test_size=0.2)

# Using MPL Regressor

In [18]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor(hidden_layer_sizes = (25,1),max_iter=500)
mlp.fit(train_x,train_y)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(25, 1), learning_rate='constant',
             learning_rate_init=0.001, max_iter=500, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=None, shuffle=True, solver='adam', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [19]:
from sklearn.metrics import mean_squared_error
mlp_mse = mean_squared_error(test_y,mlp.predict(test_x))
mlp_mse

4.2354366724728637e-08

# Using Linear Regression

In [20]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
lr_mse = mean_squared_error(test_y,lr.predict(test_x))
lr_mse

2.0512541479901437e-15

In [22]:
mlp_mse > lr_mse

True